body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  #noppa {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  